* {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  background: #000;
  color: #fff;
}
video#local {
  position: absolute;
  bottom: 90px;
  right: 30px;
  width: calc(100% - 20px);
  max-width: 300px;
  max-height: 200px;
  object-fit: contain;
  border-radius: 8px;
  z-index: 1;
  background-color: #222;
}
video#remote {
  position: absolute;
  top: 10px;
  left: 10px;
  width: calc(100% - 20px);
  height: calc(100% - 80px);
  object-fit: contain;
  border-radius: 8px;
  z-index: 0;
  background-color: #111;
}
div#alert {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translate(-50%, 0);
  width: calc(100% - 20px);
  max-width: 400px;
  padding: 10px;
  font-size: 16px;
  border-radius: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  opacity: 0;
  background-color: #333;
  z-index: 4;
  user-select: none;
  cursor: default;
}
div#alert.show {
  opacity: 1;
}
div#room {
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: calc(100% - 20px);
  height: 50px;
  padding: 15px;
  font-size: 16px;
  border-radius: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  align-items: center;
  background-color: #333;
  z-index: 2;
}
div#control {
  position: absolute;
  bottom: 10px;
  right: 10px;
  height: 50px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}
div#control > button {
  height: 85%;
  margin: 0 0 0 10px;
  padding: 5px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 8px;
  transition: 0.2s;
  background: #fff;
  color: #000;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}
div#control > button:hover {
  background: #555;
  color: #fff
}
div#control > button:active {
  background: #000;
  color: #fff;
}